{% extends "template.html" %}
{% block content %}
    <p>hieuktr@gmail.com</p>
    <p>0915162261</p>
    
    
<!--     <form id="hieu">
    <input type=username>
    </form>
    <script language="javascript">
    location.replace("/");
    </script>
     -->
    
    <!-- <script language="JavaScript">
    alert("Chào thế giới");
    </script> -->
<!--     
    <SCRIPT LANGUAGE= "JavaScript">
window.onload = function(){
    setTimeout("switchImage()", 3000);
}

function switchImage(){
    for (i=1;i<=2;i++){
        document.write(i);

    }
}

</SCRIPT>
 -->

<!--     <SCRIPT LANGUAGE= "JavaScript">
window.onload = function(){
    setTimeout("switchImage()", 3000);
}
var current = 1;
var numIMG = 4;
function switchImage(){
    current++;
    document.write(current);
    if(current < numIMG){
        setTimeout("switchImage()", 3000);
    }
}

</SCRIPT> -->

 
<!-- <script language="javascript">


setTimeout("hieu()", 3000);



function hieu(){
document.write("xin chao");
setTimeout("hieu()",3000);

} 
</script> -->



 
 
 
<!-- <SCRIPT LANGUAGE= "JavaScript">
function CheckAge(form) {
if ( (form.AGE.value<0)||(form.AGE.value>120) )
	{
alert("Tuổi nhập vào không hợp lệ! Mời bạn nhập  lại");
	form.AGE.value=0;
	}
}
</SCRIPT>

<FORM NAME="PHIEU_DIEU_TRA">

Nhập vào tên của bạn:<BR>
Tên <INPUT TYPE=TEXT NAME="TEN" MAXLENGTH=10 SIZE=10><BR>
Đệm <INPUT TYPE=TEXT NAME="DEM" MAXLENGTH=15 SIZE=10><BR>
Họ  <INPUT TYPE=TEXT NAME="HO" MAXLENGTH=10 SIZE=10><BR>
Age <INPUT TYPE=TEXT NAME="AGE" MAXLENGTH=3 SIZE=2 onChange="CheckAge(PHIEU_DIEU_TRA)"><BR>
<P>

Bạn thích mùa nào nhất:<BR>
Mùa xuân<INPUT TYPE=RADIO NAME="MUA" VALUE="Mua xuan">
Mùa hạ<INPUT TYPE=RADIO NAME="MUA" VALUE="Mua ha">
Mùa thu<INPUT TYPE=RADIO NAME="MUA" VALUE="Mua thu">
Mùa đông<INPUT TYPE=RADIO NAME="MUA" VALUE="Mua dong">
<P>

Hãy chọn những hoạt động ngoài trời mà bạn yêu thích:<BR>
Đi bộ<INPUT TYPE=CHECKBOX NAME="HOAT_DONG" VALUE="Di bo">
Trượt tuyết<INPUT TYPE=CHECKBOX NAME="HOAT_DONG" VALUE="Truot tuyet">
Thể thao dưới nước<INPUT TYPE=CHECKBOX NAME="HOAT_DONG" VALUE="Duoi nuoc">
Đạp xe<INPUT TYPE=CHECKBOX NAME="HOAT_DONG" VALUE="Dap xe">
<P>
<INPUT TYPE=SUBMIT>
<INPUT TYPE=RESET>
</FORM> -->

{% endblock %}